<head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<div class = "p-5 text-center">   


  
    <app-dashboard-view></app-dashboard-view>
  <app-detail-view></app-detail-view>

  


<div>
  <button (click) = "loadPosts()" > test</button>
  <button (click) = "unloadPosts()">test off</button>
  <button (click) = "postPost()"> add new </button>
  
</div>

<mat-grid-list cols = "4" >
  <mat-grid-tile *ngFor = "let post of posts" ><mat-card>
  <mat-card-title-group>
  <mat-card-title>
  {{post.id}}
  </mat-card-title>
  <mat-card-subtitle>{{post.completed}}</mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>
  <p>{{post.description}}</p>
  <button class = " btn btn-warning">Edit</button> <button class = " btn btn-danger" (click) = "deletePost(post.id)">Delete</button>
  </mat-card-content>  
   
</mat-card></mat-grid-tile>
  
</mat-grid-list>

